body{
   
}
.navbar{
    flex-direction: column;

}
.navbar a{ 
    padding: 0px 16px;
}
.mylogo{

}

/* wellcome-section */

.wellcomeinfo{
/* padding: 0px 70px; */
font-size: 0.5rem;
}
.wellcomeinfo h1{
padding: 0px 0px;
}

.wellcomeinfo p {
    margin: 0px 0px;
    font-size: large;
    padding: 0px 63px;
}
.wellcomeinfo::before{
    height: 500px;
}


/* our-service-title-section */

.our-service-title h1{
/* margin: 70px 2px; */
margin-top: 120px;
margin-bottom: -20px;
padding-top: 60px;
}

/* contane-second-section */
.contane-second{
    flex-direction: column;
}
.matirial{

}

/* clint-section-section */
.clint-section{

}
.clint-title{

}
.clint-png img{
    height: 75px;
    padding-left: 0px;
}
/* contac-section-section */
.contac-section{

}
.contact-title{

}
/* contact-form-section */
.contact-form input{
    width: 20rem;

}
.contact-form .name{

}

.chackbox{

}
